{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
    <title>INICIO</title>
</head>
<body>
    <ul class="menu">
        <li><a href="{% url 'citas' %}">CLINICA MÉDICA DR SUAREZ</a></li> 
        <li><a href="{% url 'boletos' %}">COMPRA DE BOLETOS</a></li> 
        <li><a href="#">Gestiones</a></li> 
        <li><a href="#">Ayuda</a></li> 
    </ul>
    <img style="position: relative; top: 200px; left: 200px;" src="{% static 'css/tabla.png' %}">
    <ul class=" salir"><li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
    
    </ul>
        
</body>
</html>